*{
    margin: 0;
    padding: 0;

}

html, body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}
.container{
    height: 100vh;
    background-color: #8a2be2;
    position: relative;
}

.conteudo{
    width: 500px;
    height: 500px;
    background-color: gold;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 3px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

div{
    align-self: center;
    padding: 15px;
    align-items: center;
}
div a{
    text-decoration: none;
    
    color: aliceblue;
}

.img{
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px;
    align-self: center;
}

.nome{
    font-weight: bolder;
    border-left: 3px solid #8a2be2;
    border-right: 3px solid #8a2be2;
    font-size: 25px;
}

.nome:hover{
    color: aliceblue;

}

.gh{
    width: 150px;
    border: 1px solid;
    border-radius: 30px;
    align-self: flex-end;
    margin-top: 20px;
    text-align: center;
    word-spacing: 10px;
    background-color: #8a2be2;
    font-size: 20px;
}
.ld{
    font-size: 20px;
    width: 150px;
    border: 1px solid;
    border-radius: 30px;
    align-self: flex-start;
    margin-top: 20px;
    text-align: center;
    word-spacing: 10px;
    background-color: #8a2be2;
}
.gh:hover, .ld:hover{
    width: 160px;
    font-size: 22px;
}
.github{
    width: 20px;
}

.linkedin{
    width: 20px;
}





/*height*/
@media(max-width: 600px){
    .container{
        height: 110vh;
    }
    .conteudo{
        width: 300px;
        height: 350px;
    }
    .img{
        width: 80%;
        margin-left: 10%;
    }   
    .nome{
        font-size: 14px;
        text-align: center;
    } 
    .nome:hover{
        color: black;
    }
    .gh, .ld{
        font-size: 13px;
        
    }
    .github, .linkedin{
        width: 13px;
    }
}
@media(max-width: 360px){
    .container{ 
        height: 110vh;
    }
    .conteudo{
        width: 100px;
        height: 250px;
    }
    .img{
        width: 80%;
        margin-left: 10%;
    }   
    .nome{
        font-size: 11px;
        text-align: center;
    } 
    .gh, .ld{
        align-self: center;
        font-size: 11px;
        width: 80px;
    }
    .github, .linkedin{
        width: 11px;
    }
}
